body{
	background:repeat;
	background-size:128px;
	background-image: url('../images/bg.jpeg');
}
.card {
	height: 175px;
	width: 125px;
	position:absolute;
	background-image: url('../images/back.png');
}
#score{
	position: absolute;
	font-size: 30;
	color: white;
	width: 30px;
	height: 30px;
	padding: 5px;
}
.player-name{
	position: absolute;
	font-size: 30;
	color: white;
}

.turn{
	background-color: red;	
}

#flag{
	position: absolute;
	font-size: 30;
	color: white;
}